		<!-- BACKGROUND CONTAINER -->
<div class="bg-container snowy">
	<!-- GLASS BALL -->
	<div class="glass-ball rotate"></div>
	<!-- TOP LIGHT -->
	<div class="top-light"></div>
	<!-- PAGE CONTENT -->
	<div class="page-content">
		<div class="table-container">
			<div class="table-cell">
				<!-- TITLE -->
				<h1 class="snow-text">Úpsz, sajnos valami nem jó :((</h1>
				<!-- INFO CONTAINER -->
				<div class="container">
					<!-- INFO TEXT -->
					<div class="shadow-box">
						<p>Az oldal működése közben hiba lépett fel. Kérlek próbáld meg újra</p>
						<p>&nbsp;</p>
					</div>
					<!-- ENTER BUTTON -->
					<a class="btn-default" href="/Home">Mepróbálom újra</a>
				</div>
			</div>
		</div>
	</div>
</div>