<!-- BACKGROUND CONTAINER -->
<div class="bg-container snowy">
	<!-- GLASS BALL -->
	<div class="glass-ball rotate"></div>
	<!-- TOP LIGHT -->
	<div class="top-light"></div>
	<!-- PAGE CONTENT -->
	<div class="page-content">
		<div class="table-container">
			<div class="table-cell">
				<!-- TITLE -->
				<h1 class="snow-text">Drága Kisfiam</h1>
				<!-- INFO CONTAINER -->
				<div class="container">
					<!-- INFO TEXT -->
					<div class="shadow-box">
						<div id="cd">
						</div>
						<div id="start">
						</div>
						<h2>
							Boldog születésnapot kívánok<br /><br />							
						</h2>
						<h3>Az ajándékodat a videóban találod! :)</h3>
						<div>
							<iframe id="vp1zIGzM" title="Video Player" width="350" height="243" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1702310727&f=zIGzMoGz1hXc3REfo9FurQ&d=0&m=p&r=360p+720p&volume=100&start_res=720p&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>
						</div>
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>